#external {
  color: yellow;
}

/*universal selector*/
* {
  font-family: serif;
  font-size: 20px;
}

/*type selector*/
h1 {
  font-size: 50px;
}

/*id selector*/
#upperCase {
  text-transform: uppercase;
}

/*class selectors*/
.languages {
  background-color: green;
  color: black;
}

/*attribute selectors*/
[class|="top"] {
        border-style: solid;
        border-width: thin;
        border-color: blue;
  }

  .p {
    color: black;
  }



