* {
	color: blue;
	font-family: "Open Sans";
}

.tuitt-button {
	background-color: #c2195b;
}

.front-bg {
	background-color: black;
	opacity: 0.5;
}

.title-2 {
	font-family: Zilla Slab;
}

.pre-footer {
	background-color: #f7fbfb;
}

.book-button {
	background-color: #336589;
}

footer {
	text-align: center;
}

.number1 {
	display: flex;
	padding: 20px;
}

.number2 {
	padding-left: 10%;
	margin-right: 30%;
	margin-top: 10px;
}

.number3 {
	display: flex;
}

.number3 li {
	margin-right: 30px;
	list-style-type: none;
		color: black;
}

.tuitt-button {
	background-color: #c2195b;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

#bg-image {
	background-color: black;
}

.front-bg {
	background: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 50%;
}

.container {
	text-align: right;
	margin-right: 100px;
	padding-top: 50px;
}

.title {
	color: white;
	margin-left: 50%;
}

.subtitle {
	color: white;
	margin-left: 28%;
}

.apply-button {
	background-color: #c2195b;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	width: 200px;
}

.intro h2 {
	color: black;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-weight: 700px;
}

.intro-description {
	justify-content: center;
	color: black;
}

.title-2 {
	color: black;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.prefooter-description {
	color: black;
	text-align: center;
	margin-bottom: 50px;
}


.book-button {
	position: absolute;
	left: 45%;
	top: 80%;
	background-color: #336589;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	width: 200px;
}

footer {
	text-align: center;
	margin-top: 150px;
}

footer span {
	color: black;
}

